*{
  margin: auto;
  box-sizing: border- box;
  padding: 0;
}
body{

  max-width: 100%;
  margin-right: auto;
  margin-right: auto;
  padding: 10px;
}
 h1{
  font-family:Fantasy;
  font-size:50px;
  color: #fff;
  animation:fadein 2s ease ;
    text-shadow:0 0 10px rgba(217,140,255,0.5);
  line-height: 1.1;
  margin-bottom: auto;
  margin-top:10px;
  white-space: nowrap;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

nav{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space between;
  gap: 60px;
  align-items: center;
  padding: 0;
  flex-direction: row;
  margin: 0px;
  background-color:#8A2bEc;
 color: white;
 text-decoration: none;
 position: sticky;
 top: 0;
 z-index: 1000;
 box-shadow: 0 4px 7px;
 transition: 0.3s ease;
}
nav a:hover{
  color: deeppink;
}

.logo {
    color: White;
    transition: 0.3s;
    font-size: 30px;
    font-family: Fantasy;
    font-weight: 700; 
}

.logo:hover {
    color: #8A2bEc;
}
footer{
  color: #FFFF;
}
footer:hover{
  color: deeppink;
}
footer:active{
  color: deeppink;
}
nav a:link{
    color: white;
    text-decoration: none;
}
p{
  color: #d9d9d9;
  font-size: 18px;
  font-family: Fantasy;
  margin: 20px 0;
  line-height: 1.2;
}
button{
  background-color:#FF4F8B;
  color: white;
  padding:20px ;
  margin: 0px;
  transition-duration:3s ;
  border-radius:40px ;
  animation:blink 2s infinite ;
  border-color: deeppink;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  display: inline-block;
  transition: 5s;
  font-weight: bold;
  font-size: 20px;

}
.button:hover{
  transform:rotate;
  align-items: center;
  justify-content: center;
}

.button:active{
 color: purple;
 transform:rotate;
 text-align: center;
 box-shadow:0 15px 25px;
 align-items: center;
  justify-content: center;
}
@keyframes blink{
  0%{
    background-color: pink;
  }
  50%{
    background-color: purple;
  }
  100%{
    background-color: deeppink;
  }
}
h2{
  color: purple;
  font-family: Fantasy;
  font-size: 40px;
}
ul{
  color: white;
  font-family: Fantasy;
  font-size: 20px;
    list-style-type: disc;
    margin-left: 0px;
    padding-left: 20px;
}
li {
    display: list-item;
}
img{
  width:400px;
  height: auto;
  border-radius: 20px;
  transition: transform 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #01082D;
  width: 100%;
  object-fit:cover ;
  transition: transform 0.4s ease;,
  box-shadow: 0.4s ease;
  cursor: pointer;
}
img:hover{
  transform:scale(1.1);
  box-shadow: 0 15px 35px rgba(168,85,255,0.4);
  background-color: #01082D;
}

.container{
  display: flex;
  flex-direction: column;
}
.scroll-text {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color:pink;
  padding: 10px 0;
  animation: scroll 12s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }